.blog {
    padding-top: 100px;
    padding-bottom: 200px;
    &__container {
    }

    &__content {
    }

    &__header {
        margin-bottom: 64px;
    }

    &__title {
    }

    &__text {
        max-width: 680px;
    }

    &__buttons {
    }

    &__button {
    }

    &__items {
        display: grid;
        gap: 48px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
    }
}
.item-blog {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 24px;

    &__header {
        position: relative;
    }

    &__category {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        padding: 10px;
        background: rgba(129, 129, 139, 0.5);
        border-radius: 0px 10px 0px 0px;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.6;
        color: #FFFFFF;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background: rgb(24, 24, 24);
            }
        }
    }

    &__image {/* 4.06 */
        display: block;/* чтобы появилась картинка, т.к. она строчная */
        position: relative;
        padding-bottom: 49.238579%; /* 194высота картинки/394ширина картинки */
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;

        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.006);
                filter: grayscale(30%);
            }
        }
    }

    &__body {
        padding: 25px 36px;
    }

    &__date {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(129, 129, 139, 0.9);

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__link-title {
        font-weight: 400;
        font-size: 19.2px;
        line-height: 1.4;
        color: #FFFFFF;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__text {
        //flex: 1 1 auto;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        color: #9C9C9C;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.6;
        color: #3D96F4;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
@media (max-width: 1100px) {
    .blog {
        &__items {
            gap: 20px;
        }
    }
    .item-blog  {
        &__body {
            padding: 25px 15px;
        }
    }
}
@media (max-width: 991.98px) {
    .blog {
        padding-top: 50px;
        padding-bottom: 100px;
        &__header {
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 767.98px) {
    .blog {
        padding-top: 30px;
        padding-bottom: 50px;
        &__items {
            grid-template-columns: auto;
        }
    }
}